<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="space-between end">
        <div class="user-info" layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="start center">
            <img class="profile-image avatar huge" src="{{vm.about.avatar}}">

            <div class="name">{{vm.about.name}}</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" flex>

        <md-tabs md-dynamic-height>
            <md-tab>
                <md-tab-label>
                    <span translate="PROFILE.ABOUT">About</span>
                </md-tab-label>
                <md-tab-body>
                    <md-content class="about-tab"
                                ng-include="'app/main/mobilecommandcenter/pages/profile/tabs/about/about.html'">
                    </md-content>
                </md-tab-body>
            </md-tab> 
        </md-tabs>

    </div>
    <!-- / CONTENT -->

    <div layout="row" layout-align="center center">
        <md-button type="submit" ng-click="vm.updateImage()"
                   class="send-button md-accent md-raised"
                   aria-label="SAVE">
            SAVE
        </md-button>
    </div>

</div>