﻿<div id="contacts" class="page-layout simple left-sidenav inner-sidenav">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between center">

        <!-- APP TITLE -->
        <div layout="row" layout-align="start center">
            <div class="logo" layout="row" layout-align="start center">
                <span class="logo-icon">
                    <md-icon md-font-icon="icon-account-box" class="s24"></md-icon>
                </span>
                <span class="logo-text">Staff Rating</span>
            </div>
        </div>
        <!-- / APP TITLE -->
        <!-- SEARCH -->
        <div class="search-input-wrapper" layout="row" layout-align="start center">
            <label for="search">
                <md-icon md-font-icon="icon-magnify"></md-icon>
            </label>
            <md-input-container md-no-float class="m-0">
                <input id="search" placeholder="Search for anyone" type="text" ng-model="vm.search" translate
                       translate-attr-placeholder="CONTACTS.SEARCH_FOR_ANYONE">
            </md-input-container>
        </div>
        <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div id="timeline" ms-timeline="vm.timelineOptions" ms-timeline-load-more="vm.loadNextPage()">
        <!-- TIMELINE ITEM -->
        <div ms-timeline-item layout="column" layout-align="center center" layout-gt-md="row"
             layout-align-gt-md="center start"
             ng-repeat="timelineItem in vm.timeline" ng-click="vm.staffDetail(timelineItem, $event)">
            <div class="timeline-point md-accent-bg md-whiteframe-2dp">
                <md-icon md-font-icon="{{timelineItem.icon}}"></md-icon>
            </div>
            <div class="timeline-detail" flex="50">
                <div class="time">
                    {{timelineItem.name}}
                </div>
                <!--<div class="event">
                </div>-->
            </div>
            <div class="timeline-card" layout="row" flex="50">
                <!-- MS-CARD -->
                <ms-card template="timelineItem.card.template" ng-model="timelineItem.card"></ms-card>
                <!-- / MS-CARD -->
            </div>
        </div>
        <!-- / TIMELINE ITEM -->
    </div>
    <!-- / CONTENT -->
</div>
