<!-- DIALOG -->
<md-dialog class="contact-dialog" aria-label="New Task">
    <form name="contactForm" class="md-inline-form" novalidate>
        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent md-tall" layout="column">
            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                           translate-attr-aria-label="CONTACTS.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->
            <!-- TOOLBAR MIDDLE -->
            <div class="md-toolbar-tools md-toolbar-tools-middle" flex layout="column" layout-align="center center">
                <div layout="column" layout-align="center center">
                    <img ng-src="assets/images/avatars/profile.jpg" class="md-avatar avatar contact-avatar huge"/>
                    <div class="contact-name">{{vm.staffData.event}}</div>
                </div>
            </div>
            <!-- / TOOLBAR MIDDLE -->
        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->
        <!-- DIALOG CONTENT -->
        <md-dialog-content ms-scroll>
            <jk-rating-stars on-rating="vm.onItemRating(rating)" layout="row" layout-align="center center" rating="firstRate"></jk-rating-stars>
        </md-dialog-content>
        <!-- / DIALOG CONTENT -->
        <!-- DIALOG ACTIONS -->
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit" ng-click="vm.submitRating(rating)"
                           class="send-button md-accent md-raised" >
                    SUBMIT
                </md-button>
            </div>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->
    </form>
</md-dialog>
<!-- / DIALOG -->