﻿<div layout="row" layout-wrap>
    <div flex="33">
       <div flex layout="column" layout-align="start center">
            <div flex layout="row" layout-align="start center">
            </div>
            <div flex layout="row" layout-align="start center">
                <img ng-src="assets/images/logos/mtn.jpg" class="md-avatar avatar contact-avatar huge" alt="Abbott" src="assets/images/logos/mtn.jpg">
            </div>
            <div flex layout="row" layout-align="start center">                
            </div>               
        </div>
        
        <!-- WIDGET 6 (Pie chart) -->
        <ms-widget layout="row" flex flex-gt-sm="25">

            <!-- Front -->
            <ms-widget-front class="white-bg">

                <div class="ph-16 border-bottom" layout="row" layout-align="space-between center">
                    <div class="h3">{{vm.widget6.title}}</div>
                    <div class="pv-16">
                        <md-select class="simplified" ng-model="vm.widget6.currentRange"
                                    ng-change="vm.widget6.changeRange(vm.widget6.currentRange)"
                                    aria-label="Change range">
                            <md-option ng-repeat="(key, range) in vm.widget6.ranges"
                                        value="{{key}}">
                                {{range}}
                            </md-option>
                        </md-select>
                    </div>
                </div>

                <div class="p-16">
                    <nvd3 class="h-400"
                            config="vm.widget6.mainChart.config"
                            options="vm.widget6.mainChart.options"
                            data="vm.widget6.mainChart.data"></nvd3>
                </div>

                <div class="pv-8 mh-16 border-top" layout="row" layout-align="start center" layout-wrap>
                    <div class="pv-8 border-right" layout="column" layout-align="center center"
                            flex="100" flex-gt-xs="50">
                        <span class="font-size-32">{{vm.widget6.footerLeft.count[vm.widget6.currentRange]}}</span>
                        <span class="h4">{{vm.widget6.footerLeft.title}}</span>
                    </div>

                    <div class="pv-8" layout="column" layout-align="center center" flex="100"
                            flex-gt-xs="50">
                        <span class="font-size-32">{{vm.widget6.footerRight.count[vm.widget6.currentRange]}}</span>
                        <span class="h4">{{vm.widget6.footerRight.title}}</span>
                    </div>
                </div>

            </ms-widget-front>
            <!-- / Front -->

        </ms-widget>
        <!-- / WIDGET 6 -->     

        <div class="whitediv" flex layout="column" layout-align="start center" ng-style="vm.borderStyle">                
            <div flex layout="row" layout-align="start center">
                <div class="circle" ng-style="goodStyle={'background-color':'#BAE395'}"></div>
                <h2>{{vm.goodTime}} min</h2>
            </div>            
            <div flex layout="row" layout-align="start center">                
                <div class="circle" ng-style="vm.mediumStyle"></div>
                <h2>{{vm.goodTime}} - {{vm.mediumTime}} min</h2>
            </div>            
            <div flex layout="row" layout-align="start center">
                <div class="circle" ng-style="vm.badStyle"></div>
                <h2>{{vm.badTime}} min plus</h2>
            </div>               
        </div>
    </div>

    
    <div flex="66">
        <ms-card template="'app/main/mobilecommandcenter/dashboard/cards/dashboard-card.html'" ng-model="vm.nationalData">
        
        </ms-card>
        
    </div>
</div>
<div layout="row" layout-wrap>
    <div flex>[flex=100]</div>
</div>
