﻿<div layout="row" layout-wrap>
    <div flex="8">            
        <div layout="column" layout-align="start center">
            <div layout="row" layout-align="start center">
            </div>
            <div layout="row" layout-align="start center">
                <img ng-src="assets/images/logos/mtn.jpg" class="md-avatar avatar contact-avatar huge" alt="Abbott" src="assets/images/logos/mtn.jpg">
            </div>
            <div layout="row" layout-align="start center">                
            </div>               
        </div>
    </div>

    <div flex="85">        
        <md-card style="height:75%">
            <div layout="row" layout-wrap>
                <div flex="25">
                    <!-- WIDGET 6 (Pie chart) -->
                    <ms-widget layout="row" flex flex-gt-sm="39" style="height:100%">
                            
                    <!-- Front -->
                    <ms-widget-front class="white-bg">

                        <div class="ph-16 border-bottom" layout="row" layout-align="space-between center">
                            <div class="h3">{{vm.widget6.title}}</div>
                            <div class="pv-16">
                                <md-select class="simplified" ng-model="vm.widget6.currentRange"
                                            ng-change="vm.widget6.changeRange(vm.widget6.currentRange)"
                                            aria-label="Change range">
                                    <md-option ng-repeat="(key, range) in vm.widget6.ranges"
                                                value="{{key}}">
                                        {{range}}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>

                        <div class="p-16">
                            <nvd3 class="h-400"
                                    config="vm.widget6.mainChart.config"
                                    options="vm.widget6.mainChart.options"
                                    data="vm.widget6.mainChart.data"></nvd3>
                        </div>

                        <div class="pv-8 mh-16 border-top" layout="row" layout-align="start center" layout-wrap>
                            <div class="pv-8 border-right" layout="column" layout-align="center center"
                                    flex="100" flex-gt-xs="50">
                                <span class="font-size-32">{{vm.widget6.footerLeft.count[vm.widget6.currentRange]}}</span>
                                <span class="h4">{{vm.widget6.footerLeft.title}}</span>
                            </div>

                            <div class="pv-8" layout="column" layout-align="center center" flex="100"
                                    flex-gt-xs="50">
                                <span class="font-size-32">{{vm.widget6.footerRight.count[vm.widget6.currentRange]}}</span>
                                <span class="h4">{{vm.widget6.footerRight.title}}</span>
                            </div>
                        </div>

                    </ms-widget-front>
                    <!-- / Front -->

                </ms-widget>
                <!-- / WIDGET 6 -->
            </div>

            <div flex="75">
                <div layout="column" layout-wrap>
                    <div flex="40">
                        <div layout="row" layout-wrap>                        
                            <div class="whitediv" flex="25">
                                <div ng-style="vm.borderStyle">
                                    <div layout="row" layout-align="start center">
                                        <md-icon md-font-icon="icon-desktop-mac"></md-icon>
                                        <h2>Open Counters</h2>                    
                                    </div>                
                                    <div layout="column" layout-align="start center">
                                        <h4>{{vm.nationalData.openCounters}}</h4>
                                    </div>
                                </div>                                
                            </div>        
                            <div class="whitediv" flex="25">
                                <div ng-style="vm.borderStyle">
                                    <div layout="row" layout-align="start center">
                                        <md-icon md-font-icon="icon-bell-outline"></md-icon>
                                        <h2>Active Counters</h2>
                                    </div>
                                    <div layout="column" layout-align="start center">
                                        <h4>{{vm.nationalData.servingCounters}}</h4>
                                    </div>
                                </div>                                
                            </div>        
                            <div class="whitediv" flex="25">
                                <div ng-style="vm.borderStyle">
                                    <div layout="row" layout-align="start center">
                                        <md-icon md-font-icon="icon-clock"></md-icon>
                                        <h2>Waiting Time Est.</h2>
                                    </div>
                                    <div layout="column" layout-align="start center">
                                            <div ng-if="(vm.secondsToTime(vm.calculateAvgWaitingTime(vm.nationalData.totalWaitingTime, vm.nationalData.customersWaiting)).substring(0, 3)) >= vm.goodTime && (vm.secondsToTime(vm.calculateAvgWaitingTime(vm.nationalData.totalWaitingTime, vm.nationalData.customersWaiting)).substring(0, 3)) <= vm.mediumTime">
                                            <h4 class="h4Good">{{vm.secondsToTime(vm.calculateAvgWaitingTime(vm.nationalData.totalWaitingTime, vm.nationalData.customersWaiting))}}</h4>
                                        </div>
                                            <div ng-if="(vm.secondsToTime(vm.calculateAvgWaitingTime(vm.nationalData.totalWaitingTime, vm.nationalData.customersWaiting)).substring(0, 3)) >= vm.mediumTime && (vm.secondsToTime(vm.calculateAvgWaitingTime(vm.nationalData.totalWaitingTime, vm.nationalData.customersWaiting)).substring(0, 3)) <= vm.badTime">
                                            <h4 class="h4Medium">{{vm.secondsToTime(vm.calculateAvgWaitingTime(vm.nationalData.totalWaitingTime, vm.nationalData.customersWaiting))}}</h4>
                                        </div> 
                                        <div ng-if="(vm.secondsToTime(vm.calculateAvgWaitingTime(vm.nationalData.totalWaitingTime, vm.nationalData.customersWaiting)).substring(0, 3)) > vm.badTime">
                                            <h4 class="h4Bad">{{vm.secondsToTime(vm.calculateAvgWaitingTime(vm.nationalData.totalWaitingTime, vm.nationalData.customersWaiting))}}</h4>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        
                            <div class="whitediv" flex="25">
                                <div ng-style="vm.borderStyle">
                                    <div layout="row" layout-align="start center">
                                        <md-icon md-font-icon="icon-clock"></md-icon>
                                        <h2>Transact Time Est.</h2>
                                    </div>                
                                    <div layout="column" layout-align="start center">
                                        <h4 class="h4Good">{{vm.secondsToTime(vm.nationalData.avgTransactionTimeSeconds)}}</h4>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div flex="10">
                        <hr>
                    </div>
                    <div flex="40">
                        <div layout="row" layout-wrap>                        
                                <div class="whitediv" flex="25">
                                    <div ng-style="vm.borderStyle">
                                        <div layout="row" layout-align="start center">
                                            <md-icon md-font-icon="icon-star-outline"></md-icon>
                                            <h2>Service level</h2>                    
                                        </div>                
                                        <div layout="column" layout-align="start center">
                                            <div ng-if="vm.DetermineServiceLevelValue(vm.nationalData.serviceLevels) == 0">
                                                    <h4 class="h4Good">{{vm.DetermineServiceLevelValue(vm.nationalData.serviceLevels)}}%</h4>
                                            </div>
                                            <div ng-if="vm.DetermineServiceLevelValue(vm.nationalData.serviceLevels) > 0">
                                                <h4 class="h4Bad">{{vm.DetermineServiceLevelValue(vm.nationalData.serviceLevels)}}%</h4>
                                            </div>
                                        </div>
                                    </div>                                        
                                </div>        
                                <div class="whitediv" flex="25">
                                    <div ng-style="vm.borderStyle">
                                        <div layout="row" layout-align="start center">
                                            <md-icon md-font-icon="icon-account-outline"></md-icon>
                                            <h2>Customers Waiting</h2>
                                        </div>
                                        <div layout="column" layout-align="start center">
                                            <h4>{{vm.nationalData.customersWaiting}}</h4>
                                        </div>
                                    </div>
                                </div>        
                                <div class="whitediv" flex="25">
                                    <div ng-style="vm.borderStyle">
                                        <div layout="row" layout-align="start center">
                                            <md-icon md-font-icon="icon-account-outline"></md-icon>
                                            <h2>Customer Visits</h2>
                                        </div>
                                        <div layout="column" layout-align="start center">
                                            <h4>{{vm.nationalData.visits}}</h4>
                                        </div>
                                    </div>                                        
                                </div>                                
                                <div class="whitediv" flex="25">
                                    <div ng-style="vm.borderStyle">
                                        <div layout="row" layout-align="start center">
                                            <md-icon md-font-icon="icon-comment-alert-outline"></md-icon>
                                            <h2>Waiting Time</h2>
                                        </div>                
                                        <div layout="column" layout-align="start center">
                                            <h4 class="h4Bad">{{vm.nationalData.waitingMoreThan5}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </md-card>
    </div>    
</div>
    
    <div layout="column" layout-wrap>
        <div flex>
            <!-- Region Data -->
            <div ng-repeat="tabletemplate in vm.tableTemplate.ProvinceData">
                <table class="table" width="99%" bgcolor="#FFFFFF">
                    <thead>
                    <tr>
                        <th>
                        <div  flex layout="row" layout-align="center">
                            <md-icon md-font-icon="icon-map-marker"></md-icon>
                            <h1>{{tabletemplate.Region}}</h1>
                        </div>
                        </th>
                        <th>
                        <div layout="row">
                            <md-icon md-font-icon="icon-star-outline"></md-icon>
                            <h1>Service Level</h1>
                        </div>
                        </th>
                        <th>
                        <div layout="row">
                            <md-icon md-font-icon="icon-desktop-mac"></md-icon>
                            <h1>Open Counters</h1>
                        </div>            
                        </th>
                        <th>
                        <div layout="row">
                            <md-icon md-font-icon="icon-bell-outline"></md-icon>
                            <h1>Active Counters</h1>
                        </div>
                        </th>
                        <th>
                        <div layout="row">
                            <md-icon md-font-icon="icon-clock"></md-icon>
                            <h1>Waiting time ({{vm.goodTime}} + Min)</h1>
                        </div>
                        </th>
                        <th>
                        <div layout="row">
                            <md-icon md-font-icon="icon-account-outline"></md-icon>
                            <h1>Customers Waiting</h1>
                        </div>            
                        </th>                                
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="!tabletemplate.RegionData.expanded">
                    <td align="center">
                        <div layout="row" layout-align="center" >
                            <h2>{{tabletemplate.RegionData.branchName}}</h2>
                        </div>            
                    </td>
                    <td align="center">
                        <div layout="row" layout-align="center" >
                            <div class="circle" ng-style="myStyle"></div>                
                            <h2>{{vm.DetermineServiceLevelValue(tabletemplate.RegionData.serviceLevels)}}%</h2>                
                        </div>            
                    </td>
                    <td align="center">
                        <div layout="row" layout-align="center" >
                            <h2>{{tabletemplate.RegionData.openCounters}}</h2>
                        </div>            
                    </td>
                    <td align="center">
                            <div layout="row" layout-align="center" >
                            <h2>{{tabletemplate.RegionData.servingCounters}}</h2>
                        </div>            
                    </td>
                    <td align="center">
                        <div layout="row" layout-align="center" >
                            <div class="circle" ng-style="myStyle"></div>
                            <h2>{{tabletemplate.RegionData.waitTimeMoreThan5}}</h2>
                        </div>            
                    </td>
                    <td align="center">
                        <div layout="row" layout-align="center" >
                            <h2>{{tabletemplate.RegionData.customersWaiting}}</h2>
                        </div>            
                    </td>
                    </tr>
                    
                    <tr ng-repeat="branchData in tabletemplate.BranchData track by $index" ng-if="tabletemplate.RegionData.expanded">
                    <td align="center">
                        <div layout="row" layout-align="center" >
                            <h2>{{branchData.branchName}}</h2>
                        </div>            
                    </td>
                    <td align="center">
                        <div layout="row" layout-align="center" >
                            <div class="circle" ng-style="myStyle"></div>                
                            <h2>{{vm.DetermineServiceLevelValue(branchData.serviceLevels)}}%</h2>                
                        </div>            
                    </td>
                    <td align="center">
                        <div layout="row" layout-align="center" >
                            <h2>{{branchData.openCounters}}</h2>
                        </div>            
                    </td>
                    <td align="center">
                            <div layout="row" layout-align="center" >
                            <h2>{{branchData.servingCounters}}</h2>
                        </div>            
                    </td>
                    <td align="center">
                        <div layout="row" layout-align="center" >
                            <div class="circle" ng-style="myStyle"></div>
                            <h2>{{branchData.waitTimeMoreThan5}}</h2>
                        </div>            
                    </td>
                    <td align="center">
                        <div layout="row" layout-align="center" >
                            <h2>{{branchData.customersWaiting}}</h2>
                        </div>            
                    </td>
                    </tr>
                    </tbody>
                </table>    
                <div  flex layout="row" layout-align="center" ng-if="!tabletemplate.RegionData.expanded" >
                    <md-button class="md-fab" aria-label="FAB" ng-click="vm.setExpanded(tabletemplate, true)">
                        <md-icon md-font-icon="icon-chevron-down"></md-icon>    
                    </md-button>        
                </div>
                <div  flex layout="row" layout-align="center" ng-if="tabletemplate.RegionData.expanded">
                    <md-button class="md-fab" aria-label="FAB"  ng-click="vm.setExpanded(tabletemplate, false)">
                        <md-icon md-font-icon="icon-chevron-up"></md-icon>    
                    </md-button>        
                </div>    
                <div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    