.h1
{
    font-size: 40px;
}
.h2
{
    font-size: 1.875em; /* 30px/16=1.875em */
}
.p
{
    font-size: 0.875em; /* 14px/16=0.875em */
}
h4
{
    font-size: 30px;    
}
.h4Good
{
    font-weight: bold;
    font-size: 30px;
    color: #BAE395;
}
.h4Medium
{
    font-size: 30px;
    color: #374867;
}
.h4Bad
{
    font-weight: bold;
    font-size: 30px;
    color: #FF3C65;
}
.whitediv
{
    background-color: white;
}
.circle
{
  height: 20px;
  width: 20px;
  background-color: grey;
  border-radius: 10px;
}
whitediv.solid {border-style: solid;}
// th {
//   width: 200px;
//   border: solid 1px blue;
//   height: 100%;
// }
// td {
//   width: 200px;
//   border: solid 1px green;
//   height: 100%;
// }
.ms-dashboard-card {
    display: flex;
    flex-direction: row;
    padding: 8px;

    .ms-dashboard-card-content-wrapper {
        position: relative;
        overflow: hidden;
        width: 100%;
        max-width: 400px;
        border-radius: 2px;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084);
    }
}

