﻿        .attachment-list {
            font-size: 13px;
            padding-top: 16px;

    .attachment {
        background-color: rgba(0, 0, 0, 0.08);
        border: 1px solid rgba(0, 0, 0, 0.16);
        padding-left: 16px;
        margin-top: 8px;
        border-radius: 2px;

        .filename {
            font-weight: 500;
        }

        .size {

        }

        .md-button {
            margin: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.queue-style {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  background-color:#039BE5;
  color:white;
}

.info-title{
    color: grey;
}

.form-labels{
    color: grey;
    font-size: 14px;
    font-weight:300;
}

/*.buttons{
    background-color: #373c47;
    color: grey;
    box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}*/

/*.content{
    background-color: #2d323e;
    color: white;
    box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}*/
