﻿#backgroundStyle {
        position: absolute;
        background-image: url({{vm.welcomeScreenURL}});
        background-repeat: no-repeat;
        width: 100%;
        height: 100%; /* Change to the height you need */
        top: 0px;
        left: 0px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }