<div layout="row">
    <div flex>
        <md-content layout-xs="column" layout="row">
            <md-card style="background-color:white">
                <div style="background-color:white" layout-align="center center">
                    <img src="assets/images/logos/emerge-q.png" class="logo" />
                </div>
                <md-card-content>
                    <ms-form-wizard flex>
                        <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
                            <md-tab>
                                <md-tab-body>
                                    <div>
                                        <span><h2>Please complete a quick survey</h2></span>
                                    </div>
                                    <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
                                        <fieldset ng-show="vm.data.length > 0">
                                            <div ng-repeat="question in vm.data" ng-switch="question.type">
                                                <!--radio button questions-->
                                                <div class="form-group-lg" ng-switch-when="radio">
                                                    <h3><b>{{question.Question}}</b></h3>
                                                    <md-radio-group ng-model="question.Answer">
                                                        <md-radio-button ng-repeat="option in question.Options"
                                                                         ng-value="option.db">
                                                            <b>{{option.value}}</b>
                                                        </md-radio-button>
                                                    </md-radio-group>
                                                </div>
                                                <!--drop down questions-->
                                                <div class="form-group-lg" ng-switch-when="dropdown">
                                                    <h3><b>{{question.Question}}</b></h3>
                                                    <md-select ng-model="question.Answer" aria-label="Answer">
                                                        <md-option><em>None</em></md-option>
                                                        <md-option ng-repeat="option in question.Options" ng-value="option.value" ng-disabled="$index === 0">
                                                            {{ option.value}}
                                                        </md-option>
                                                    </md-select>
                                                </div>
                                                <!--<div class="form-group-lg" ng-switch-when="dropdown">
                                    <h4 class="col-lg-6 col-md-6">{{question.Question}}</h4>
                                    <div class="dropdown col-lg-6 col-md-6" style="margin-top:5px">
                                        <button class="btn-lg btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                            {{question.Default}}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                            <li role="presentation" ng-repeat="option in question.Options">
                                                <a role="menuitem" tabindex="-1" ng-click="updateSelectedDropdownValue(question, option.db)"><h4>{{option.value}}</h4></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>-->
                                                <!--text boxes-->
                                                <div class="form-group-lg" ng-switch-when="text">
                                                    <h4 class="col-lg-6 col-md-6">{{question.Question}}</h4>
                                                    <div class="input-group col-lg-3 col-md-3">
                                                        <input type="number" step="0.01" ng-model="question.Answer" class="form-control" placeholder="{{question.Placeholder}}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </md-tab-body>
                            </md-tab>
                        </md-tabs>
                        <div class="navigation" flex layout="row" layout-align="center center">
                            <!--<md-button class="md-raised md-accent" ng-click="msWizard.previousStep()" ng-disabled="msWizard.isFirstStep()">
                                Previous
                            </md-button>
                            <div class="steps">
                                <span ng-repeat="form in msWizard.forms" ng-class="{'selected md-accent-bg':msWizard.selectedIndex === $index}"></span>
                            </div>
                            <md-button class="md-raised md-accent" ng-click="msWizard.nextStep()" ng-hide="msWizard.isLastStep()" ng-disabled="msWizard.currentStepInvalid()">
                                Next
                            </md-button>-->
                            <md-button class="md-fab md-primary" aria-label="submit" ng-click="vm.sendForm(); msWizard.resetForm();" ng-show="msWizard.isLastStep()" ng-disabled="msWizard.formsIncomplete()">
                                Submit
                            </md-button>
                        </div>
                    </ms-form-wizard>
                </md-card-content>
            </md-card>
        </md-content>
    </div>
</div>

