<!-- DIALOG -->
<md-dialog class="eula-dialog" aria-label="New Task">

    <div id="register-form" layout-align="center center">
        <div class="md-accent-bg" layout-align="center center">
            <div class="title" translate="REGISTER.EULA">EULA and T&Cs</div>
        </div>              

        <form name="eulaForm" class="md-inline-form" novalidate>
            <div id="eula-details" class="flex-scrollable" layout="column" ms-scroll>
            <span>{{vm.eula}}</span>
            </div>
            <div class="terms" layout="row" layout-align="center center">
                <md-checkbox name="terms" ng-model="data.cb1" aria-label="I read and accept" required></md-checkbox>
                <div layout="row" layout-sm="column" layout-align="start center">
                    <span translate="REGISTER.READ_ACCEPT">I read and accept these terms and conditions</span>
                </div>
            </div>
            <md-button type="submit" class="md-raised md-accent submit-button" aria-label="CREATE MY ACCOUNT"
                    ng-disabled="eulaForm.$invalid || eulaForm.$pristine"
                    translate="REGISTER.REGISTER_ACCOUNT"
                    translate-attr-aria-label="REGISTER.REGISTER_ACCOUNT"
                    ng-click="vm.saveUserRegistration(true)">
                REGISTER MY ACCOUNT
            </md-button>
            <md-button type="submit" class="md-raised md-accent submit-button" aria-label="CREATE MY ACCOUNT"                    
                    translate="REGISTER.READ_DECLINE"
                    translate-attr-aria-label="REGISTER.READ_DECLINE"
                    ng-click="vm.saveUserRegistration(false)">
                DECLINE
            </md-button>
        </form>
    </div>

</md-dialog>
<!-- / DIALOG -->