md-dialog {

    &.eula-dialog {
        max-width: 400px;
        width: 400px;

        md-toolbar {
            height: 100px;
            min-height: 100px;
            max-height: 100px;

            .title {
                font-size: 17px;
                margin-top: 12px;
            }

            .md-toolbar-tools-middle {
                height: 70px;
                min-height: 70px;
                max-height: 70px;

                .eula-avatar {
                    margin: 0;
                }

                .eula-name {
                    font-size: 15px;
                    margin: 4px 0;
                }
            }

            .md-toolbar-tools-bottom {
                md-menu {
                    margin: 0;
                }
            }
            .md-icon-button{
                margin-top: 12px;
            }
        }

        md-dialog-content {
            display: block;
            position: relative;

            .birthday-input {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin: 0;
                padding: 0 0 32px 0;

                .md-button {
                    margin: 0;
                    padding: 0;
                    width: 24px;
                    height: 24px;

                    md-icon {
                        color: rgba(0, 0, 0, 0.87);
                    }
                }

                .md-datepicker-input-container {
                    display: flex;
                    flex: 1;
                }
            }

            .textarea-wrapper {

                md-input-container {
                    margin-top: 0;
                }

                md-icon {
                    color: rgba(0, 0, 0, 0.87);
                    margin: 0 8px 0 0;
                }
            }
        }

        md-dialog-actions {
            position: relative;
            overflow-y: hidden;
            overflow-x: auto;
            justify-content: space-between;
            background-color: rgba(0, 0, 0, 0.03);
            border-top: 1px solid rgba(0, 0, 0, 0.12);
        }

        #register-form{
            width: 384px;
            max-width: 384px;
            padding: 32px;
            background: #FFFFFF;
            text-align: center;

            .logo {
                width: 128px;
                height: 128px;
                line-height: 128px;
                font-size: 86px;
                font-weight: 500;
                margin: 32px auto;
                color: #FFFFFF;
                border-radius: 2px;
            }

            .title {
                margin: 16px 0 32px 0;
                font-size: 17px;
            }

            form {
                width: 100%;
                text-align: left;

                md-checkbox {
                    margin: 0;
                }

                .terms {
                    font-size: 13px;
                    margin: 16px 0 32px 0;

                    a {
                        margin-left: 4px;
                    }
                }

                .submit-button {
                    width: 220px;
                    margin: 16px auto;
                    display: block;
                }
            }

            .login {
                margin: 32px auto 24px auto;
                width: 250px;
                font-weight: 500;

                .text {
                    margin-right: 8px;
                }

                .link {

                }
            }
        }
    }
}