﻿<div id="contacts" class="page-layout simple left-sidenav inner-sidenav">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between center">

        <!-- APP TITLE -->
        <div layout="row" layout-align="start center">
            <div class="logo" layout="row" layout-align="start center">
                <span class="logo-icon">
                    <md-icon md-font-icon="icon-pencil-box-outline" class="s24"></md-icon>
                </span>
                <span class="logo-text">Survey</span>
            </div>
        </div>
        <!-- / APP TITLE -->
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <md-content class="md-padding" layout-xs="row" layout-align="center center" style="height:100%; background-color:{{vm.selectedSurvey.bkColor.bgColorValue}}">
        
        <!--First page-->
        <md-card style="background-color:{{vm.selectedSurvey.cardColor.bgColorValue}}" ng-show="vm.currentPage == 'home'" ng-hide="vm.currentPage  != 'home'">
                <md-card-title class="p-15 border-bottom" style="background-color:white">
                    <md-card-title-text>
                        <div flex>
                            <span><h2>{{vm.selectedSurvey.name}}</h2></span>
                        </div>
                    </md-card-title-text>
                </md-card-title>
                <br />
                <md-card-content layout-align="center center" layout="row">
                    <div flex>
                        <p>{{vm.selectedSurvey.description}}</p>
                        <p><b>Please take some time to complete this survey.</b></p>
                        <p>Total Questions: <b>{{vm.selectedSurvey.questions.length}}</b></p>
                        <p>Total Time:<b> {{vm.selectedSurvey.questions.length}} minute\s</b></p>
                    </div>
                </md-card-content>

                <md-card-footer class="p-15 border-top" style="background-color:white">
                    <md-card-actions layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                        <md-button class="md-accent md-raised md-hue-1" ng-click="vm.pageChange('questions')">Start</md-button>
                        <md-button class="md-accent md-raised md-hue-1" ng-click="vm.exit()">Exit</md-button>
                    </md-card-actions>
                </md-card-footer>
        </md-card>

        <!--Wizzard layout-->
        <md-card style="background-color:{{vm.selectedSurvey.cardColor.bgColorValue}}" ng-show="vm.currentPage == 'questions'" ng-hide="vm.currentPage != 'questions'">
            <md-card-title class="p-5 border-bottom survey-nav">
                <div layout-sm="column" layout="row" flex="90" layout-align="center center">{{vm.pageNum - 1}} of {{vm.lastPage - 2}}</div>
                <div layout-sm="column" layout="row" flex="10" layout-align="center right"><md-button class="md-accent md-raised md-hue-1" ng-click="vm.selectedAnswer(vm.selectedSurvey.questions[vm.questionNumber].Id)">Next</md-button></div>
            </md-card-title>
            <md-card-title class="p-15 border-bottom" style="background-color:white">
                <md-card-title-text>
                    <div flex>
                        <span><h2>{{vm.selectedSurvey.questions[vm.questionNumber].Question}}</h2></span>
                    </div>
                </md-card-title-text>
            </md-card-title>
            <br />
            <md-card-content ng-show="vm.selectedSurvey.questions[vm.questionNumber].type == 'radio'" ng-hide="vm.selectedSurvey.questions[vm.questionNumber].type != 'radio'">
                <md-radio-group flex ng-model="vm.radiobtn">
                    <md-radio-button value="{{option.db}}" class="md-2-line border-bottom" ng-repeat="option in vm.selectedSurvey.questions[vm.questionNumber].Options">
                        <!--<img data-ng-src="{{vm.getImage(option.img)}}" />-->
                        <p >{{option.value}}</p>
                    </md-radio-button>
                </md-radio-group>
            </md-card-content>
            <md-card-content ng-show="vm.selectedSurvey.questions[vm.questionNumber].type == 'list'" ng-hide="vm.selectedSurvey.questions[vm.questionNumber].type != 'list'">
                <md-list flex>
                    <md-list-item ng-model="vm.listItem" value="{{option.db}}" ng-repeat="option in vm.selectedSurvey.questions[vm.questionNumber].Options">
                        <!--<img data-ng-src="{{vm.getImage(option.img)}}" />-->
                        <p class="md-2-line border-bottom">{{option.value}}</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
            <md-card-content ng-show="vm.selectedSurvey.questions[vm.questionNumber].type == 'text'" ng-hide="vm.selectedSurvey.questions[vm.questionNumber].type != 'text'">
                <div flex>
                    <textarea class="textArea" ng-model="vm.textArea" rows="3" layout-sm="column" layout-align="left center" style="width:100%"></textarea>
                </div>
            </md-card-content>
            <md-card-content ng-show="vm.selectedSurvey.questions[vm.questionNumber].type == 'dropdown'" ng-hide="vm.selectedSurvey.questions[vm.questionNumber].type != 'dropdown'">
                <md-select flex ng-model="vm.dropDown">
                    <md-option value="{{option.db}}" ng-repeat="option in vm.selectedSurvey.questions[vm.questionNumber].Options">
                        <!--<img data-ng-src="{{vm.getImage(option.img)}}" />-->
                        {{option.value}}
                    </md-option>
                </md-select>
            </md-card-content>
        </md-card>
        
        <!--One Page layout-->
        <md-card ng-repeat="questions in vm.selectedSurvey.questions" style="background-color:{{vm.selectedSurvey.cardColor.bgColorValue}}" ng-show="vm.currentPage == 'one-page'" ng-hide="vm.currentPage != 'one-page'">
            <md-card-title class="p-15 border-bottom" style="background-color:white">
                <md-card-title-text>
                    <div flex>
                        <span><h2>{{questions.Question}}</h2></span>
                    </div>
                </md-card-title-text>
            </md-card-title>
            <br />
            <md-card-content ng-show="questions.type == 'radio'" ng-hide="questions.type != 'radio'">
                <md-radio-group flex ng-model="vm.radiobtn">
                    <md-radio-button value="{{option.db}}" class="md-2-line border-bottom" ng-repeat="option in questions.Options">
                        <!--<img data-ng-src="{{vm.getImage(option.img)}}" />-->
                        <p>{{option.value}}</p>
                    </md-radio-button>
                </md-radio-group>
            </md-card-content>
            <md-card-content ng-show="questions.type == 'list'" ng-hide="questions.type != 'list'">
                <md-list flex>
                    <md-list-item ng-model="vm.listItem" value="{{option.db}}" ng-repeat="option in questions.Options">
                        <!--<img data-ng-src="{{vm.getImage(option.img)}}" />-->
                        <p class="md-2-line border-bottom">{{option.value}}</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
            <md-card-content ng-show="questions.type == 'text'" ng-hide="questions.type != 'text'">
                <div flex>
                    <textarea class="textArea" ng-model="vm.textArea" rows="3" layout-sm="column" layout-align="left center" style="width:100%"></textarea>
                </div>
            </md-card-content>
            <md-card-content ng-show="questions.type == 'dropdown'" ng-hide="questions.type != 'dropdown'">
                <md-select flex ng-model="vm.dropDown">
                    <md-option value="{{option.db}}" ng-repeat="option in questions.Options">
                        <!--<img data-ng-src="{{vm.getImage(option.img)}}" />-->
                        {{option.value}}
                    </md-option>
                </md-select>
            </md-card-content>
        </md-card>
        <md-card-footer ng-show="vm.currentPage == 'one-page'" ng-hide="vm.currentPage != 'one-page'">
            <div layout-sm="column" layout="row" flex="10" layout-align="center center"><md-button class="md-accent md-raised md-hue-1">Next</md-button></div>
        </md-card-footer>

        <!--Last page-->
        <md-card style="background-color:{{vm.selectedSurvey.cardColor.bgColorValue}}" ng-show="vm.currentPage == 'last'" ng-hide="vm.currentPage != 'last'">
            <md-card-title class="p-15 border-bottom" style="background-color:white">
                <md-card-title-text>
                    <div flex>
                        <span><h2></h2></span>
                    </div>
                </md-card-title-text>
            </md-card-title>
            <br />
            <md-card-content>
                <p>Thanks you for completing the survey</p>
            </md-card-content>
            <br />
            <md-card-footer class="p-15 border-top" style="background-color:white">
                <md-card-actions layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button class="md-accent md-raised md-hue-1" ng-click="vm.commitAnswers()">Done</md-button>
                </md-card-actions>
            </md-card-footer>
        </md-card>
    </md-content>
</div>
