<div class="page-layout carded fullwidth" layout="row">
    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center" layout="column" flex ms-scroll> 
        <div class="header">
            <span class="h3 white-fg">Orchestra Settings</span>
        </div>
        <md-tabs md-dynamic-height md-swipe-content>
            <md-tab label="Customer Feedback" layout="column">
                <!-- CONTENT HEADER -->
                
                <!-- / CONTENT HEADER -->
                <!-- CONTENT Entry Point Settings CARD -->
                <div class="content-card" layout="column" flex>
                    <!-- EntryPoint TOOLBAR -->
                    <div class="toolbar" layout="row" layout-align="start center">
                        <span>Customer Feedback Settings</span>
                    </div>
                    <!-- / CONTENT TOOLBAR -->
                    <!-- CONTENT -->
                    <md-content class="content" flex ms-scroll>
                        <div layout="row" layout-xs="column">
                            <div flex>Select a load option:<span class="radioValue">{{ vm.loadOption }}</span></div>
                            <div flex>Staff Rating</div>
                        </div>
                        <p></p>
                        <div layout="row" layout-xs="column">
                            <div flex>
                                <md-radio-group ng-model="vm.loadOption">
                                    <md-radio-button value="Mongo">Mongo</md-radio-button>
                                    <md-radio-button value="URL">URL</md-radio-button>
                                </md-radio-group>
                            </div>
                            <div flex>
                                <md-switch ng-model="vm.staffRating" aria-label="Switch 1">
                                    Enable staff rating: {{ vm.staffRating }}
                                </md-switch>
                            </div>
                        </div>
                        <p></p>
                        <div layout="row" layout-xs="column">
                            <div flex>Select your default survey:</div>
                            <div flex></div>
                        </div>
                        <p></p>
                        <div layout="row" layout-xs="column">
                            <div flex>
                                <md-select ng-model="vm.selectedSurvey" placeholder="None" ng-selected="vm.selectedSurvey==survey.name">
                                    <md-option ng-value="None"><em>None</em></md-option>
                                    <md-option ng-value="survey" ng-repeat="survey in vm.surveys">
                                        {{survey.name}}
                                    </md-option>
                                </md-select>
                            </div>
                            <div flex></div>
                        </div>     
                    </md-content>
                    <div layout="row" layout-align="start center">
                        <md-button type="submit" ng-click="vm.saveSettings()"
                                   class="send-button md-accent md-raised"
                                   aria-label="SAVE">
                            SAVE
                        </md-button>
                    </div>
                    <!-- / CONTENT -->
                </div>

                <!-- / CONTENT CARD -->
            </md-tab>
            
        </md-tabs>
    </div>
    <!-- / CENTER -->
</div>
