﻿<div ng-layout="column">    
    <div flex>        
        <md-list class="contacts-list"> 
            <!-- GAME LIST HEADER -->
            <div class="text-center">
                    <md-toolbar class="md-accent md-small" layout="column">
                        <div class="md-toolbar-tools md-toolbar-tools-top" layout="row"
                             layout-align="center center">
                            Games
                        </div>
                    </md-toolbar>
            </div>
            <md-subheader class="md-no-sticky md-white-bg">
                Please select a game form the list below:
            </md-subheader>            
            <md-list-item class="md-3-line md-white-bg" ng-if="gameConfig.visiable == true && vm.isPageValid == true " md-ink-ripple aria-label="gameConfig.name" ng-repeat="gameConfig in vm.gamesData"  ng-click="vm.openGameDialog($event, gameConfig)">
                <div class="text-center">
                    <img class="md-avatar" ng-if="gameConfig.avatar" alt="{{gameConfig.name}}"
                        ng-src="{{gameConfig.avatar}}"/>{{gameConfig.name}}
                </div>
                <div class="md-list-item-text" layout="column">
                    <div class="text-center">
                        {{gameConfig.description}}
                    </div>
                </div>
                <div class="md-list-item-text" layout="column">
                    <div class="text-center">
                        <md-icon md-font-icon="{{gameConfig.highscoreFontIcon}}">                        
                        </md-icon>
                        <label>HighScore: {{gameConfig.highscoreCount}}</label>                        
                    </div>
                    <div class="text-center">
                        <md-icon md-font-icon="{{gameConfig.scoreFontIcon}}">                        
                        </md-icon>
                        <label> Your Score: {{gameConfig.scoreCount}}</label>
                    </div>
                </div>
            </md-list-item>
        </md-list>
    </div>    
</div>