﻿<div layout="row">
    <div flex>
        <md-content class="md-padding">
            <div layout="column">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="info-title"><h2>Information</h2></span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <md-input-container class="md-icon-float md-block">
                            <label class="form-labels">Name</label>
                            <md-icon md-font-icon="icon-account"></md-icon>
                            <input ng-model="vm.customer.firstName" type="text" md-autofocus/>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block">
                            <label>Last Name</label>
                            <md-icon md-font-icon="icon-account"></md-icon>
                            <input ng-model="vm.customer.lastName" type="text"/>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block">
                            <label>Mobile</label>
                            <md-icon md-font-icon="icon-cellphone-iphone"></md-icon>
                            <input ng-model="vm.customer.properties.mobile" type="text" />
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block">
                            <label>Documents</label>
                            <md-icon md-font-icon="icon-file-document"></md-icon>
                            <input type="text" />
                            <div class="attachment-list" ng-if="vm.files.length > 0">
                                <div class="attachment" layout="row" layout-align="space-between center" ng-repeat="file in vm.files">
                                    <div>
                                        <span class="filename" id="fileName">{{file.name}}</span>
                                    </div>
                                    <md-button class="md-icon-button" aria-label="Delete attachment" translate
                                               translate-attr-aria-label="MAIL.DELETE_ATTACHMENT">
                                        <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </md-input-container>

                    </md-card-content>
                    <md-card-actions layout="row" layout-align="start center">
                        <md-button type="submit" ng-click="vm.scanner($event)"
                                   class="send-button md-accent md-raised" aria-label="Scanner">
                            <div>Scan</div>
                        </md-button>
                        <input type="file" id="fileInput" class="ng-hide"/>
                        <md-button ng-click="vm.addDocuments()" value="alert"
                                   class="send-button md-accent md-raised" aria-label="Add Documents">
                            <div><md-icon md-font-icon="icon-box-upload"></md-icon>Add</div>
                        </md-button>
                    </md-card-actions>
                    <md-card-actions layout="row" layout-align="start center">
                        <md-button type="submit" ng-click="vm.addNewCustomer()"
                                   class="send-button md-accent md-raised" aria-label="Queue">
                            <div>Queue</div>
                        </md-button>
                        <md-button type="submit" 
                                   class="send-button md-accent md-raised" aria-label="Booking">
                            <div ui-sref="app.mobile.booking">Booking</div>
                        </md-button>
                    </md-card-actions>

                </md-card>
            </div>
        </md-content>
    </div>
</div>