﻿<div layout="row">
    <div flex>
        <md-content class="md-padding">
            <div layout="column">
                <md-card ng-swipe-down="vm.onSwipeDown($event)">
                    <md-card-title>
                        <md-card-title-text>
                            <div class="text-center">
                                <img src="assets/images/backgrounds/ticket1.png" />
                            </div>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
                <md-card>
                    <md-card-content ng-show="vm.showTicket">
                        <div class="md-list-item-text content" layout="column" layout-align="center center"
                             style="border:solid 1px #808080">
                            <div><h1><b>{{vm.mobileData.visit.ticketId}}</b></h1></div>
                            <div><h3><b>{{vm.selectedService.externalName}}</b></h3></div>
                            <div layout="row">
                                <div layout-align="start center"><h3><b>{{vm.date | date:'yyyy-MM-dd'}}</b></h3></div>
                                <div class="md-padding"></div>
                                <div layout-align="end center"><h3><b>{{vm.date | date:'HH:mm:ss'}}</b></h3></div>
                            </div>
                        </div>
                    </md-card-content>
                    <div class="md-list-item-text" layout="row" layout-align="center center">
                        <md-dialog-actions layout="row">
                            <md-button ng-click="vm.transfer($event)"
                                       class="send-button md-accent md-raised" aria-label="Transfer">
                                Transfer
                            </md-button>
                            <md-button ng-click="vm.comment($event)"
                                       class="send-button md-accent md-raised" aria-label="Comment">
                                Comment
                            </md-button>
                            <md-button ng-click="vm.help($event)"
                                       class="send-button md-accent md-raised" aria-label="Help">
                                Help
                            </md-button>
                        </md-dialog-actions>
                    </div>
                </md-card>
            </div>
        </md-content>
    </div>
</div>