﻿<div layout="row" class="page-layout simple fullwidth doc-page">
    <div flex>
        <md-content class="md-padding" layout-xs="column" layout="row">         
            <md-card style="background-color:white">
                <div style="background-color:white">
                    <img src="assets/images/logos/emerge-q.png" class="logo" />
                </div>
                <div>
                    <img src="assets/images/backgrounds/mobile-pic.png" />
                </div>
                <!--<div layout="row" layout-align="end center"><md-icon md-font-icon="icon-map-marker"></md-icon></div>-->
                    <md-card-title>

                        <md-card-title-text>
                            <div>
                                <span><h2>Welcome to Emerge Queue</h2></span>
                            </div>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <h3>We’re for companies that take pride in helping the world move at a smooth pace.
                            Who see waiting and disconnected service as their arch enemies.
                            Companies who wants to humanize the experience and keep the world in GO
                        </h3>
                    </md-card-content>
                    <md-card-actions layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                        <ul layout="row" style="list-style: none;">
                            <li ng-repeat="link in vm.mobileData.mainLinks" ng-show="vm.isShow" ng-class="vm.animation">
                                <md-button class="md-fab md-primary" aria-label="{{link.name}}"
                                           ui-sref="{{link.url}}">
                                    <md-icon md-font-icon="{{link.icon}}"></md-icon>
                                    <!--Service-->
                                </md-button>
                            </li>
                        </ul>
                    </md-card-actions>
                </md-card>
        </md-content>
    </div>
</div>

