﻿<div id="linearQueueing" class="page-layout simple left-sidenav inner-sidenav">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between center">

        <!-- QUEUE ACTIONS -->
        <div layout="row" layout-align="start center">            
            
            <div ng-click="vm.CreateVisit(vm.selectedServices)">
                <md-button layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-account-multiple-plus" class="mr-8"></md-icon>
                    <span translate="LINEARQUEUEING.CREATE_VISIT">Create Visit</span>
                </md-button>
            </div>

            <div ng-click="vm.CallNext()">
                <md-button layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-message-alert" class="mr-8"></md-icon>
                    <span translate="LINEARQUEUEING.CALL_NEXT">Call Next</span>
                </md-button>
            </div>

            <div ng-click="vm.ClearSelectedServices()">
                <md-button layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-close-circle-outline" class="mr-8"></md-icon>
                    <span translate="LINEARQUEUEING.CLEAR_SELECTED_SERVICES">Clear Visits</span>
                </md-button>
            </div>
            
        </div>
        <!-- / QUEUE ACTIONS -->

        <!-- SETTINGS -->
        <div class="search-input-wrapper" layout="row" layout-align="start center">
            <div ng-click="vm.OpenLinearQueueingDialog()">
                <md-button layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cog" class="mr-8"></md-icon>
                    <span translate="LINEARQUEUEING.SETTINGS">Settings</span>
                </md-button>
            </div>
        </div>
        <!-- / SETTINGS -->
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div>
    <h1>Last Ticket Issued</h1>
    </div>
    <div>
    <h2>{{vm.visitTemplate.visitNumber}}</h2>
    </div>
    <md-content class="md-padding" layout-xs="column" style="height:100%;">        
        
        <div layout-xs="row" >
            <!-- SELECTED SERVICES -->
            <table class="table">
                <thead>
                <tr>
                    <th>          
                    <h1>SELECTED SERVICES</h1>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in vm.selectedServices">
                    <td>
                        <h2>{{ x.internalName }}</h2>
                    </td>
                </tr>
                </tbody>
            </table>
        
            <!-- SERVICES -->
            <table class="table">
                <thead>
                <tr>
                    <th>          
                    <h1>SERVICES</h1>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in vm.availableServices track by $index">
                <td>
                    <div ng-click="vm.AddToSelectedService( x )">
                        <md-button >                            
                            <p>{{ x.internalName }}</p>
                        </md-button>
                    </div>                    
                </td>      
                </tr>
                </tbody>
            </table>                
        
            <!-- QUEUES -->        
            <table class="table">
                <thead>
                <tr>
                    <th>          
                    <h1>QUEUES</h1>
                    </th>
                </tr>
                </thead>
                <tbody>
                
                <td>
                    <table class="table">
                <thead>
                <tr>
                <th>          
                <h2>QN</h2>
                </th>
                <th>          
                <h2>WT</h2>
                </th>
                <th>          
                <h2>CW</h2>
                </th>            
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in vm.queues">
                <td>
                    <p>{{ x.name }}</p>
                </td>
                <td>
                    <p>{{Math.floor( x.waitingTime / 60)}} : {{ Math.ceil(x.waitingTime % 60) }}</p>
                </td>
                <td>
                    <p>{{ x.customersWaiting }}</p>
                </td>
                </tr>
                </tbody>
                </table>
                </td>
                </tbody>
            </table>
        </div>
    </md-content>
</div>
