﻿.survey-nav{
        font-size: 15px;
        color:dimgrey;
        background-color:#fcf7f7;
}
.selectedIndex {
  background: yellow;
}
.textArea{
    font-family:Calibri;
    padding:5px;
}
.h1 {
    font-size: 40px;
}
.h2 {
    font-size: 1.875em; /* 30px/16=1.875em */
}
.p {
    font-size: 0.875em; /* 14px/16=0.875em */
}
