md-dialog {

    &.event-form-dialog {
        max-width: 720px;
        width: 720px;
        background-color: white;

        md-dialog-content {
            display: block;
            position: relative;
        }

        form {
            overflow: hidden;

            md-toolbar {

                .title {
                    font-size: 17px;
                }
            }

            .date-row {

                md-datepicker {
                    margin-right: 24px;
                }
            }

            .notifications {
                padding: 16px 0;

                > .md-button {
                    margin: 0;
                }
            }
        }

        md-dialog-actions {
            position: relative;
            overflow-y: hidden;
            overflow-x: auto;
            justify-content: space-between;
            border-top: 1px solid rgba(0, 0, 0, 0.12);
            background-color: rgba(0, 0, 0, 0.03);
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-sm) {

    md-dialog {

        &.event-form-dialog {
            width: 80%;
        }
    }
}

@media screen and (max-width: $layout-breakpoint-xs) {

    md-dialog {

        &.event-form-dialog {
            width: 90%;
        }
    }
}

.menudemoMenuPositionModes .md-menu-demo {
  padding: 24px; }

.menudemoMenuPositionModes .menu-demo-container {
  min-height: 200px; }

.checkboxdemoSelectAll .demo-legend {
  color: #3F51B5; }

.checkboxdemoSelectAll .demo-fieldset {
  border-style: solid;
  border-width: 1px;
  height: 100%; }

.checkboxdemoSelectAll .demo-select-all-checkboxes {
  padding-left: 30px; }

.option-list {
            font-size: 13px;
            padding-top: 16px;

    .optionbox {
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.16);
        padding-left: 16px;
        margin-top: 8px;
        border-radius: 2px;

        .optionname {
            font-weight: 500;
        }

        .md-button {
            margin: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}