<md-dialog class="event-form-dialog" aria-label="New Message">
    <form name="eventForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">{{vm.dialogTitle}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                           translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <md-input-container class="md-block">
                <label translate="CALENDAR.TITLE">Title</label>
                <input name="title" ng-model="vm.calendarEvent.title" required md-autofocus>
                <div ng-messages="eventForm.title.$error" ng-show="eventForm.title.$touched" role="alert">
                    <div ng-message="required">
                        <span translate="CALENDAR.ERRORS.TITLE_REQUIRED">Title field is required</span>
                    </div>
                </div>
            </md-input-container>

            <md-list class="all-day" layout="row">
                <md-list-item>
                    <p translate="CALENDAR.ALL_DAY">All Day</p>
                    <md-switch class="md-secondary" ng-model="vm.calendarEvent.allday" aria-label="All day" translate
                               translate-attr-aria-label="CALENDAR.ALL_DAY"></md-switch>
                </md-list-item>
                <md-list-item>
                        <label translate="CALENDAR.REPEAT">Repeat</label>
                        <input type="checkbox" ng-model="vm.calendarEvent.repeat">
                </md-list-item>
            </md-list>

            <div layout="row" class="date-row">
                <md-datepicker ng-model="vm.calendarEvent.start" md-placeholder="Start Date"></md-datepicker>

                <md-input-container flex>
                    <input mdc-datetime-picker date="false" time="true" type="text" id="time" short-time="true"
                           show-todays-date
                           placeholder="Time"
                           min-date="minDate"
                           format="hh:mm a"
                           ng-change="vm.saveChange()"
                           ng-model="vm.calendarEvent.startTime">
                </md-input-container>
            </div>

            <div layout="row" class="date-row">
                <md-datepicker ng-model="vm.calendarEvent.end" md-placeholder="End Date"></md-datepicker>

                <md-input-container flex>
                    <input mdc-datetime-picker date="false" time="true" type="text" id="time" short-time="true"
                           show-todays-date
                           placeholder="Time"
                           min-date="minDate"
                           format="hh:mm a"
                           ng-change="vm.saveChange()"
                           ng-model="vm.calendarEvent.endTime">
                </md-input-container>
            </div>

            <div class="menus" layout-wrap layout="row" layout-fill layout-align="space-between center" style="min-height:200px;">
                <div layout="row" flex-xs="100" flex-sm="100" flex="33" layout-align="left center">
                    <p>Branch</p>
                    <md-menu>
                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            <md-icon md-font-icon="icon-view-list"></md-icon>
                        </md-button>
                        <md-menu-content width="6" class="menu-option">
                            <md-menu-item ng-repeat="branch in vm.branches">
                                <md-button ng-click="vm.selectedBranch(branch)">
                                    <md-icon md-menu-align-target md-svg-icon="call:no-sim"></md-icon>
                                    Option {{branch.name}}
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <div class="option-list" ng-show="vm.showBranch">
                        <div class="optionbox" layout="row" layout-align="space-between center">
                            <div>
                                <span class="optionname" placeholder="Select a resource" ng-show="vm.showBranch">{{vm.branch.name}}</span>
                            </div>
                            <md-button class="md-icon-button" aria-label="Delete branch" translate
                                       translate-attr-aria-label="CALENDAR.DELETE_OPTIONS">
                                <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
                <div layout="row" flex-xs="100" flex-sm="100" flex="33" layout-align="left center">
                    <p>Resources</p>
                    <md-menu>
                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            <md-icon md-font-icon="icon-view-list"></md-icon>
                        </md-button>
                        <md-menu-content width="6" class="menu-option">
                            <md-menu-item ng-repeat="resource in vm.resources">
                                <md-button ng-click="vm.selectedResource(resource)">
                                    <md-icon md-menu-align-target md-svg-icon="call:no-sim"></md-icon>
                                    Option {{resource.name}}
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <div class="option-list" ng-show="vm.showResource">
                        <div class="optionbox" layout="row" layout-align="space-between center">
                            <div>
                                <span class="optionname" placeholder="Select a resource" ng-show="vm.showResource">{{vm.resource.name}}</span>
                            </div>
                            <md-button class="md-icon-button" aria-label="Delete resource" translate
                                       translate-attr-aria-label="CALENDAR.DELETE_OPTIONS">
                                <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </div> 
            </div>
            <div layout="row" layout-wrap>
                <div flex="100" layout="column">
                    <div>
                        <fieldset class="demo-fieldset">
                            <legend class="demo-legend">Services</legend>
                            <div layout="row" layout-wrap flex>
                                <div flex-xs flex="50">
                                    <md-checkbox aria-label="Select All"
                                                 ng-checked="vm.isChecked()"
                                                 md-indeterminate="isIndeterminate()"
                                                 ng-click="vm.toggleAll()">
                                        <span ng-if="vm.isChecked()">Un-</span>Select All
                                    </md-checkbox>
                                </div>
                                <div class="demo-select-all-checkboxes" flex="100" ng-repeat="service in vm.services">
                                    <md-checkbox ng-checked="vm.exists(service)" ng-click="vm.toggle(service)">
                                        {{ service.name }}
                                    </md-checkbox>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>


            <md-input-container flex class="md-block textarea-container">
                <label translate="CALENDAR.NOTES">Notes</label>
                <textarea ng-model="vm.task.notes" md-maxlength="250" max-rows="4"></textarea>
            </md-input-container>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <md-button ng-click="vm.saveEvent()" class="save-button md-accent md-raised" aria-label="SAVE"
                       ng-disabled="eventForm.$invalid || eventForm.$pristine"
                       translate="CALENDAR.SAVE"
                       translate-attr-aria-label="CALENDAR.SAVE">
                SAVE
            </md-button>

            <md-button class="md-icon-button" ng-click="vm.removeEvent()" aria-label="Delete" translate translate-attr-aria-label="CALENDAR.DELETE">
                <md-icon md-font-icon="icon-delete"></md-icon>
                <md-tooltip><span translate="CALENDAR.DELETE">Delete</span></md-tooltip>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>