md-dialog {

    &.game-dialog {
        max-width: 400px;
        width: 400px;

        md-toolbar {
            height: 240px;
            min-height: 240px;
            max-height: 240px;

            .title {
                font-size: 17px;
            }

            .md-toolbar-tools-middle {
                height: 144px;
                min-height: 144px;
                max-height: 144px;

                .game-avatar {
                    margin: 0;
                }

                .game-name {
                    font-size: 24px;
                    margin: 8px 0;
                }
            }

            .md-toolbar-tools-bottom {
                md-menu {
                    margin: 0;
                }
            }
        }

        md-dialog-content {
            display: block;
            position: relative;            

            .textarea-wrapper {

                md-input-container {
                    margin-top: 0;
                }

                md-icon {
                    color: rgba(0, 0, 0, 0.87);
                    margin: 0 8px 0 0;
                }
            }
        }

        md-dialog-actions {
            position: relative;
            overflow-y: hidden;
            overflow-x: auto;
            justify-content: space-between;
            background-color: rgba(0, 0, 0, 0.03);
            border-top: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
}