<!-- DIALOG -->
<md-dialog class="linearQueueing-dialog" aria-label="Settings">
<label>Queue Mappings</label>
  <table class="table">
    <thead>
      <tr>
        <th>          
          queueId         
        </th>
        <th>
          services
        </th>        
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in vm.queueMappings">
      <td>{{ x.queueId }}</td>
      <td>{{ x.services }}</td>
      
    </tr>
    </tbody>
  </table>

<label>Create Queue To Be Allocated</label>
<input type="text" name="input" ng-model="vm.newQueueToBeAllocated">

<div ng-click="vm.CreateQueue()">
    <md-button layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-check-all" class="mr-8"></md-icon>
        <span translate="LINEARQUEUEING.CREATE_QUEUE">Create Queue</span>
    </md-button>
</div>

<label>Create Service To Be Allocated</label>
<input type="text" name="input" ng-model="vm.newServiceToBeAllocated">

<div ng-click="vm.CreateService()">
    <md-button layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-check-all" class="mr-8"></md-icon>
        <span translate="LINEARQUEUEING.CREATE_SERVICE">Create Service</span>
    </md-button>
</div>

<label>Queues To Be Allocated</label>
<select ng-model="vm.queueToBeAllocated" ng-options="x.name for x in vm.queuesToBeAllocated">
</select>

<label>Services To Be Allocated</label>
<select ng-model="vm.serviceToBeAllocated" ng-options="x.internalName for x in vm.servicesToBeAllocated">
</select>

<div ng-click="vm.MapQueue()">
    <md-button layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-google-maps" class="mr-8"></md-icon>
        <span translate="LINEARQUEUEING.MAP_QUEUE">Map Queue</span>
    </md-button>
</div>
</md-dialog>
<!-- / DIALOG -->